<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>

<body>
<!--Navbar-->
<div th:insert="base :: navbar"></div>
<!--<div th:replace="base :: navlinks"></div>-->
<br/>


<!--creating container-->
<div class="container">
    <div class="row">
        <!--        <div class="col">-->
        <!--            1 of 3-->
        <!--        </div>-->
        <!--        Jumbotron-->
        <div class="col-12">
            <div th:insert="base :: jumbotron"></div>
        </div>
        <br>

        <!--<table>
            <tr th:each="categ : ${categories}">
                <td th:text="${categ.categoryName}"></td>
                <td>
                    <a th:href="@{update/{id}(id=${categ.categoryId})}">Update</a>
                    <a th:href="@{detail/{id}(id=${categ.categoryId})}">Details</a>
                    <a th:href="@{delete/{id}(id=${categ.categoryId})}">Delete</a>
                </td>
            </tr>
        </table>-->


        <table>
            <tr th:each="categ : ${categories}">
<!--                <td th:text="${categ.categoryName}"></td>-->

<!--              *********  Adding card as a table row *********-->
                <td>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            Category
                        </div>
                        <div class="card-body">
                            <!--                <h5 class="card-title">ID: <span th:text="${categories.categoryId}"></span></h5>-->
                            <p class="card-text"> Id: <span th:text="${categ.categoryId}"></span></p>
                            <h5 class="card-title">Category: <span th:text="${categ.categoryName}"></span></h5>

                        </div>
                        <div class="card-footer text-muted">
                            <a th:href="@{detail/{id}(id=${categ.categoryId})}" class="btn btn-info">More Info</a>
                            <a th:href="@{update/{id}(id=${categ.categoryId})}" class="btn btn-info">Update</a>
                            <a th:href="@{delete/{id}(id=${categ.categoryId})}"class="btn btn-info">Delete</a>
                        </div>

                    </div>
                    <br>
                </div>
                </td>
<!--               ********** End of card **************-->
            </tr>
        </table>
        <!--        <div class="col">-->
        <!--            3 of 3-->
        <!--        </div>-->
    </div>
</div>


<br><br>
<!--Footer-->
<div th:insert="base :: footer"></div>
<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>